<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Tarzan - The Wonder Car</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>

<style>
  header {
    background-image: url('/static/files/car.gif');
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
</style>


<body>
  <header>
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          Data Science III Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-right text-light"></i>
        </button>

      </nav>
      <!-- <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg">
              
              <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mr-auto"></div>
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="team.html">TEAM
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  
                </ul>
              </div>
            </nav>
          </div>
        </div> -->
      <div class="container text-center">
        <section class="section-4">
          <h1><u>Tarzan - The Wonder Car</u></h1>
          <p>
            We had toevelop a platform that will process a video taken from the
            driver's view, and will tell most of the objects (traffic signs along with the meaning of the sign,
            approx. speed of car, landscape and the lane of the car).
          </p>
          <div class="file-upload">
            <form method='POST' enctype='multipart/form-data'>
              {{form.hidden_tag()}}
              {{form.file()}}
              {{form.submit()}}
            </form>
          </div>

        </section>
      </div>
  </header>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
      <script src="./main.js"></script> -->
</body>

</html>