<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Tarzan - The Wonder Car</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css')}}" />
    <link rel="stylesheet"  href="{{ url_for('static', filename='mobile-style.css')}}" />
</head>

<body>

<section class="section-4">
    <div class="container text-center">
      <h1 class="text-dark">The Team</h1>
      <p class="text-secondary">Meet our hardworking team</p>
    </div>
    <div class="team row ">
      <div class="col-md-4 col-12 text-center">
          <div class="card mr-2 d-inline-block shadow-lg">
              <div class="card-img-top">
                <img src="bani.jpeg" class="img-fluid border-radius p-4" alt="">
              </div>
              <div class="card-body">
                <h3 class="card-title"> Bani</h3>
                <p class="text-black-50">2nd Year student</p>
              </div>
            </div>
      </div>
      <div class="col-md-4 col-12 text-center">
        <div class="card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
              <img src="mannat.jpeg" class="img-fluid border-radius p-4" alt="">
            </div>
            <div class="card-body">
              <h3 class="card-title">Mannat Mahajan</h3>
              <p class="text-black-50">2nd Year student</p>
            </div>
          </div>
      </div>
      <div class="col-md-4 col-12 text-center">
        <div class="card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
              <img src="vasu.jpeg" class="img-fluid border-radius p-4" alt="">
            </div>
            <div class="card-body">
              <h3 class="card-title">Arvasu Kulkarni</h3>
              <p class="text-black-50">2nd Year student</p>
            </div>
          </div>
      </div>
        <div class="col-md-4 col-12 text-center">
          <div class="card mr-2 d-inline-block shadow-lg">
              <div class="card-img-top">
                <img src="mahir.jpeg" class="img-fluid border-radius p-4" alt="">
              </div>
              <div class="card-body">
                <h3 class="card-title">Mahir Jain</h3>
                <p class="text-black-50">2nd Year student</p>
              </div>
            </div>
      </div>
        <div class="col-md-4 col-12 text-center">
          <div class="card mr-2 d-inline-block shadow-lg">
              <div class="card-img-top">
                <img src="mishra.jpeg" class="img-fluid border-radius p-4" alt="">
              </div>
              <div class="card-body">
                <h3 class="card-title">Aditya Ray Mishra</h3>
                <p class="text-black-50">2nd Year student</p>
              </div>
            </div>
      </div>
        <div class="col-md-4 col-12 text-center">
          <div class="card mr-2 d-inline-block shadow-lg">
              <div class="card-img-top">
                <img src="vatsal.jpeg" class="img-fluid border-radius p-4" alt="">
              </div>
              <div class="card-body">
                <h3 class="card-title">Vatsal Harirmani</h3>
                <p class="text-black-50">2nd Year student</p>
              </div>
            </div>
      </div>
      
    </div>
  </section>

</body>
  </html>